  <div class="container-xxl py-5 services-block">
            <div class="container px-lg-5">
                <div class="section-title position-relative text-center mb-5 pb-2 wow fadeInUp" data-wow-delay="0.1s">
                    <h6 class="position-relative d-inline text-primary ps-4">{{ "Our Services"|t }}</h6>
                    <h2 class="mt-2">{{ title | raw }}</h2>
                </div>
                <div class="row g-4">
                {{ rows }}
                </div>
            </div>
        </div>
        </div>